version: '3.7'
services:
  installer:
    build:
      context: ../../
      dockerfile: Dockerfile
      target: preinstaller
    environment:
      NODE_ENV: ${NODE_ENV}
      BASE_PWD: ${BASE_PWD}

    tty: true
    stdin_open: true
    working_dir: /app
    volumes:
      - ${BASE_PWD}:/app
      - pscr_docker_data_cache_node_modules:/app/node_modules:delegated
    user: root
    command: >
      sh -c 'echo "pre-installing node packages..." && npm install --ignore-scripts --save && echo "finished install packages"'
volumes:
  pscr_docker_data_cache_node_modules:
    name: pscr_docker_data_cache_node_modules
